@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');

body {
  background-color: #1b253c
}
h1 {
  color: #E1Ad01;
  text-shadow: 4px 4px #a2411e;
  display: flex;
  justify-content: center;
  text-align: center
}
h2 {
 color: #E1Ad01;
 text-shadow: 4px 4px #a2411e;
 display: flex;
 justify-content: center;
 text-align: center
}
h3 {
  color:  #E1Ad01;
  text-shadow: 4px 4px #a2411e
}
// Sign up
#sign-up-form {
  font-family: 'Spectral', serif;
  color: #E1Ad01;
  display: flex;
  justify-content: center;
  padding: 10px
}

#sign-up {
  font-family: 'Spectral', serif;
  border-radius: 2px
}

#sign-up:hover {
  background-color: #E1Ad01
}

// Sign in
#sign-in-form {
  font-family: 'Spectral', serif;
  color: #E1Ad01;
  display: flex;
  justify-content: center;
  text-align: center
}

#sign-in {
  font-family: 'Spectral', serif;
  border-radius: 2px
}

#sign-in:hover {
  background-color: #E1Ad01
}



// Sign out
#sign-out {
  font-family: 'Spectral', serif;
  border-radius: 2px;
}

#sign-out:hover {
  background-color: #E1Ad01
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px
}
#change-password {
  color:  #E1Ad01;
  text-shadow: 4px 4px #a2411e
}
#create-vocab-form {
  color: #E1Ad01;
}

#read-vocab-form {
  color: #E1Ad01;
}

#update-vocab-form {
  color: #E1Ad01;
}

#delete-vocab-form {
  color: #E1Ad01;
}
// #change-password:hover {
//   background-color: #E1Ad01
// }
